<%- include("./partials/header") %> 

    <section class="showcase text-center">
        <div class="showcase-content">
            <h1 class="mt-4">Do more with better project management</h1>
            <h4>Gist enables you to effectively manage your projects</h4>

            <div class="mt-4">
                <a href="/signup" class="btn btn-primary px-3 mx-2">SIGN UP</a>
                <a href="/login" class="btn btn-light px-3 mx-2">LOG IN</a>
            </div>
        </div>
        
    </section>

    <section class="features">
        <div class="container section py-4">
            <div class="row py-4">
                <img src="images/undraw_Wishlist_re_m7tv.svg" alt="Create Project" class="col-md-6">
                <div class="col-md-5 pl-4 ml-1">
                    <h2 class="text-primary">LOTS OF FEATURES</h2>
                    <div class="feature-item my-4">
                        <h4>Manage Projects</h4>
                        <p>Effectively manage and keep track of all ongoing projects</p>
                    </div>
                    
                    <div class="feature-item my-4">
                        <h4>Keep track of tasks in projects</h4>
                        <p>Ensure smooth execution of the projects by keeping track of the tasks associated with each project</p>
                    </div>
                    
                    <div class="feature-item my-4">
                        <h4>Keep to deadlines</h4>
                        <p>Be up to date with your deadlines using gist</p>
                    </div>

                    
                </div>
            </div>
        </div>
        

    </section>

    <hr class="section-hr">

    <section class="process">
        <div class="container section py-4">
            <div class="row py-4">
                
                <div class="col-md-6">
                    <h2 class="text-primary">EASY THREE STEP PROCESS</h2>
                    <div class="process-item my-4">
                        <h4>Create Project</h4>
                        <p>You can determine the name of the project, the due date and give a brief description of it</p>
                    </div>
                    
                    <div class="process-item my-4">
                        <h4>Add tasks to the project</h4>
                        <p>Within each project, you can add tasks to be carried out in order to complete the project</p>
                    </div>
                    
                    <div class="process-item my-4">
                        <h4>Update as needed</h4>
                        <p>As the project progresses, you can update the tasks within the project until it is completed</p>
                    </div>

                    
                </div>
                <img src="images/undraw_Setup_re_y9w8.svg" alt="Create Project" class="col-md-6">
            </div>
        </div>
    </section>

    <section class="review section mb-4">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <div class="review-img">
                        <img src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
                    </div>
                    
                    <p class="text-muted"><em>CEO of <strong>WonderGroup</strong></em></p>

                    <p>Gist has been life changing for our company. Our productivity has improved by 50% and we are able to much more effectively communicate with each other</p>
                </div>
                <div class="carousel-item">
                    <div class="review-img">
                        <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="d-block w-100" alt="...">
                    </div>
                    
                    <p class="text-muted"><em>CTO of <strong>Slidepotatoes</strong></em></p>

                    <p>We have used other project management applications before, but never has any app come as close to meeting the needs of our company as Gist</p>
                </div>
                <div class="carousel-item">
                    <div class="review-img">
                        <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="d-block w-100" alt="...">
                    </div>
                    
                    <p class="text-muted"><em>Head of HR for <strong>Coffee Pot</strong></em></p>

                    <p>At Coffee Pot, we have been able to reduce costs by 35% because Gist has enabled us to streamline our project workflow</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
        

    <section class="text-center py-4">
        <h1 class="mt-4">Get Started Now</h1>

        <div class="my-4">
            <a href="/signup" class="btn btn-primary px-3 mx-2">SIGN UP</a>
            <a href="/login" class="btn btn-light px-3 mx-2">LOG IN</a>
        </div>

    </section>

    <footer>
        <p class="text-center text-muted py-3 mb-0 mt-4">Copyright &copy; 2020. Gist Incorporation.</p>
    </footer>

<%- include("./partials/footer") %> 